
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/">Show All Items</a><br/>
Name :<span th:text="${item.name}"></span><br/>
Description :<span th:text="${item.description}"></span><br/>
Priority :<span th:text="${item.priority}" ></span><br/>
Due Date :<span th:text="${item.duedate}" ></span><br/>
Is Completed? :<span th:text="${item.iscompleted}" ></span><br/>

<a th:href="@{/delete/{id}(id=${item.id})}">Delete this item</a>
</body>
</html>